@page
@model IndexModel
@{
    ViewData["Title"] = "Ilan";


}

<img class="background" src="~/images/Background.png" alt="Background" style="width:100%; height:30px;">
<input class="AramaBtn" type="text" id="fname" name="fname" value="Arama yapınız" style="right:20%; position:absolute; border-color:darkred;">
<br>
<h1> Güncel ilanlar ve  Kullanıcı Sıralaması</h1>
<table>
    <tr>
        <td>
            <table class="Ilanlar">
                <tr>
                    <td>
                        <table class="Ilan01" style="width: 40%; height: 100%;">
                            <tr>
                                <td style="width: 100%; text-align: center; ">



                                    <table>
                                        <tr>
                                            <th>
                                                <img class="profilePic" src="~/images/profilePic.png" alt="Profil resmi" style="width:100px; height:100px;" />
                                            </th>
                                            <th>
                                                <h3>Ad Soyad</h3>
                                                <h4>Kan Grubu</h4>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>
                                                <a href="default.asp">
                                                    <img class="Posta" src="~/images/Eposta.png" alt="E-Posta" style="width:50px; height:50px;" />
                                                </a>
                                            </th>
                                            <th>
                                                <a href="default.asp">
                                                    <img class="Telefon" src="~/images/Phone.png" alt="Telefon" style="width:50px; height:50px;" />
                                                </a>
                                            </th>
                                        </tr>
                                    </table>


                                    <style>
                                        * {
                                            margin: 0 auto;
                                        }
                                    </style>

                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table class="Ilan02" style="width: 40%; height: 100%;">
                            <tr>
                                <td style="width: 100%; text-align: center; ">



                                    <table>
                                        <tr>
                                            <th>
                                                <img class="profilePic" src="~/images/profilePic.png" alt="Profil resmi" style="width:100px; height:100px;" />
                                            </th>
                                            <th>
                                                <h3>Ad Soyad</h3>
                                                <h4>Kan Grubu</h4>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>
                                                <a href="default.asp">
                                                    <img class="Posta" src="~/images/Eposta.png" alt="E-Posta" style="width:50px; height:50px;" />
                                                </a>
                                            </th>
                                            <th>
                                                <a href="default.asp">
                                                    <img class="Telefon" src="~/images/Phone.png" alt="Telefon" style="width:50px; height:50px;" />
                                                </a>
                                            </th>
                                        </tr>
                                    </table>


                                    <style>
                                        * {
                                            margin: 0 auto;
                                        }
                                    </style>

                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table class="Ilan03" style="width: 40%; height: 100%;">
                            <tr>
                                <td style="width: 100%; text-align: center; ">



                                    <table>
                                        <tr>
                                            <th>
                                                <img class="profilePic" src="~/images/profilePic.png" alt="Profil resmi" style="width:100px; height:100px;" />
                                            </th>
                                            <th>
                                                <h3>Ad Soyad</h3>
                                                <h4>Kan Grubu</h4>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>
                                                <a href="default.asp">
                                                    <img class="Posta" src="~/images/Eposta.png" alt="E-Posta" style="width:50px; height:50px;" />
                                                </a>
                                            </th>
                                            <th>
                                                <a href="default.asp">
                                                    <img class="Telefon" src="~/images/Phone.png" alt="Telefon" style="width:50px; height:50px;" />
                                                </a>
                                            </th>
                                        </tr>
                                    </table>


                                    <style>
                                        * {
                                            margin: 0 auto;
                                        }
                                    </style>

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table class="Ilan04" style="width: 40%; height: 100%;">
                            <tr>
                                <td style="width: 100%; text-align: center; ">



                                    <table>
                                        <tr>
                                            <th>
                                                <img class="profilePic" src="~/images/profilePic.png" alt="Profil resmi" style="width:100px; height:100px;" />
                                            </th>
                                            <th>
                                                <h3>Ad Soyad</h3>
                                                <h4>Kan Grubu</h4>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>
                                                <a href="default.asp">
                                                    <img class="Posta" src="~/images/Eposta.png" alt="E-Posta" style="width:50px; height:50px;" />
                                                </a>
                                            </th>
                                            <th>
                                                <a href="default.asp">
                                                    <img class="Telefon" src="~/images/Phone.png" alt="Telefon" style="width:50px; height:50px;" />
                                                </a>
                                            </th>
                                        </tr>
                                    </table>


                                    <style>
                                        * {
                                            margin: 0 auto;
                                        }
                                    </style>

                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table class="Ilan05" style="width: 40%; height: 100%;">
                            <tr>
                                <td style="width: 100%; text-align: center; ">



                                    <table>
                                        <tr>
                                            <th>
                                                <img class="profilePic" src="~/images/profilePic.png" alt="Profil resmi" style="width:100px; height:100px;" />
                                            </th>
                                            <th>
                                                <h3>Ad Soyad</h3>
                                                <h4>Kan Grubu</h4>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>
                                                <a href="default.asp">
                                                    <img class="Posta" src="~/images/Eposta.png" alt="E-Posta" style="width:50px; height:50px;" />
                                                </a>
                                            </th>
                                            <th>
                                                <a href="default.asp">
                                                    <img class="Telefon" src="~/images/Phone.png" alt="Telefon" style="width:50px; height:50px;" />
                                                </a>
                                            </th>
                                        </tr>
                                    </table>


                                    <style>
                                        * {
                                            margin: 0 auto;
                                        }
                                    </style>

                                </td>
                            </tr>
                        </table>
                    </td>
                    <td>
                        <table class="Ilan06" style="width: 40%; height: 100%;">
                            <tr>
                                <td style="width: 100%; text-align: center; ">



                                    <table>
                                        <tr>
                                            <th>
                                                <img class="profilePic" src="~/images/profilePic.png" alt="Profil resmi" style="width:100px; height:100px;" />
                                            </th>
                                            <th>
                                                <h3>Ad Soyad</h3>
                                                <h4>Kan Grubu</h4>
                                            </th>
                                        </tr>
                                        <tr>
                                            <th>
                                                <a href="default.asp">
                                                    <img class="Posta" src="~/images/Eposta.png" alt="E-Posta" style="width:50px; height:50px;" />
                                                </a>
                                            </th>
                                            <th>
                                                <a href="default.asp">
                                                    <img class="Telefon" src="~/images/Phone.png" alt="Telefon" style="width:50px; height:50px;" />
                                                </a>
                                            </th>
                                        </tr>
                                    </table>


                                    <style>
                                        * {
                                            margin: 0 auto;
                                        }
                                    </style>

                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
        <td>
            <table class="Siralama">
                <tr>
                    <th class="col-1">Ad</th>
                    <th class="col-2">Soyad</th>
                    <th class="col-3" colspan="2">Puan</th>

                </tr>
                <tr>
                    <td>
                        <p id="01"></p>
                        <script>
                            var Ad = "A";
                            document.getElementById("01").innerHTML = Ad;
                        </script>
                    </td>
                    <td>
                        <p id="02"></p>
                        <script>
                            var Soyad = "B";
                            document.getElementById("02").innerHTML = Soyad;
                        </script>
                    </td>
                    <td>
                        <p id="03"></p>
                        <script>
                            var Puan = "80";
                            document.getElementById("03").innerHTML = Puan;
                        </script>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p id="11"></p>
                        <script>
                            var Ad = "C";
                            document.getElementById("11").innerHTML = Ad;
                        </script>
                    </td>
                    <td>
                        <p id="12"></p>
                        <script>
                            var Soyad = "D";
                            document.getElementById("12").innerHTML = Soyad;
                        </script>
                    </td>
                    <td>
                        <p id="13"></p>
                        <script>
                            var Puan = "70";
                            document.getElementById("13").innerHTML = Puan;
                        </script>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<style>
    .Siralama
     {
        border: 1px solid black;
        border-collapse: collapse;
    }
    .col-1
    {
        border: 1px solid black;
        padding: 5px;
        text-align: left;    
    }
    .col-2
    {
        border: 1px solid black;
        padding: 5px;
        text-align: left;    
    }
    .col-3
    {
        border: 1px solid black;
        padding: 5px;
        text-align: left;    
    }
    td{
        border: 1px solid black;
        padding: 5px;
        text-align: left; 
    }

</style>

<img class="background" src="~/images/Background.png" alt="Background" style="width:100%; height:30px;">



    


